#                   
# This source file is part of the Apodini open source project
# 
# SPDX-FileCopyrightText: 2021 Paul Schmiedmayer and the project authors (see CONTRIBUTORS.md) <paul.schmiedmayer@tum.de>
# 
# SPDX-License-Identifier: MIT
# 

# Apodini .gitignore File

# Swift Package Manager
*.xcodeproj
.swiftpm
.build/

# IDE related folders
.idea

# Xcode User settings
xcuserdata/

# Other files
.DS_Store
.env

# Documentation generation
.xcodebuild/
*.doccarchive
